name: Publish to npm

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write # this is what allows npm to trust GitHub

permissions:
  contents: write    # allow committing version bump
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: npm

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org

      - run: npm ci
      - run: npm run build

      # Bump version based on commits
      - name: Version bump
        run: |
          npm version patch -m "chore(release): %s [skip ci]"

      - run: git push --follow-tags

      - run: npm publish --access public
