name: Publish to npm

on:
  release:
    types: [created]

permissions:
  contents: read
  id-token: write # this is what allows npm to trust GitHub

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: npm # optional, but recommended

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org

      - run: npm ci
      - run: npm run build
      - run: npm publish --access public
